@import "/imports/ui/components/user-list/styles.scss";

.userName {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 0.95rem;
  justify-content: flex-start;
  margin: 0 0 0 var(--sm-padding-x);
  min-width: 0;

  [dir="rtl"]  & {
    margin: 0 var(--sm-padding-x) 0 0;
  }
}

.userNameMain {
  @extend %no-margin;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  color: var(--color-gray-dark);
  display: flex;
  flex-direction: row;
  align-items: center;

  > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  :global(.animationsEnabled) & {
    transition: all .3s;
  }
}

.userNameSub {
  @extend %no-margin;
  font-size: 0.75rem;
  font-weight: 200;
  color: var(--color-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  i {
    line-height: 0;
    font-size: 75%;
  }
}

.userIcon {
  background-color: var(--color-primary);
  border-radius: 0.25rem;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.1rem 0.25rem;
  margin: 0 5px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.statusList {
  background-color: var(--background);
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 200px;
  list-style: none;
  margin: 0 1em;
  max-width: 100%;
  min-width: 10vw;
  overflow: visible;
  padding: 1rem;
  position: absolute;
  z-index: 2;
}
